
.navdisplay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
}
.navbar {
    display: flex;
    justify-content: center;
  }

  .navlist {
    width: 90%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
  }
  
  .navitem {
    display: inline-block;
    margin-right: 10px;
  }
  
  .navlink {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .navlink:hover {
    color: #fd853a;
  }
/* 
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.navdisplay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
}

.navMenu {
    display: flex;
    justify-content: center;
}

.navMenu a {
  color: #ffffff;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fd853a;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fd853a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30%);
  transform: translateX(30%);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(1.5em);
  transform: translateX(1.5em);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(14em);
  transform: translateX(14em);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(25em);
  transform: translateX(25em);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

   */